<h3 class="uk-text-center uk-heading-divider"></h3>
<h3>Portfolio</h3>

<div class="uk-child-width-1-3@s uk-text-center uk-grid-small" uk-grid>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 1</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 2</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 3</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 4</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 5</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 6</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 7</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-transition-toggle" tabindex="0">
      <img data-src="https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=800&q=80" width="800" height="800" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Art 8</p>
      </div>
    </div>
  </div>
  <div>
    <a href="{{ .Site.BaseURL }}art/bujo">
    <div class="uk-card uk-card-default uk-transition-toggle" tabindex="0">
      <img data-src="{{ .Site.BaseURL }}pics/bujo/small/bujo22_800x800.jpg" width="800" height="900" alt="" uk-img>
      <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
        <p class="uk-h4 uk-margin-remove">Bullet Journal</p>
      </div>
      </a>
    </div>
  </div>
</div>
