<section id=contact>
  <h3 class="uk-heading-divider"></h3>
  <h3>Contact</h3>

  <div class="uk-container-xsmall uk-align-center">
    <form name="contact" method="POST" data-netlify="true">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Let's collaborate!</legend>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Name">
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Email Address">
        </div>
        <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
        </div>
      </fieldset>
      <button class="uk-button uk-button-default uk-align-right" type="submit">Send</button>
    </form>
  </div>

</section>
