<footer>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-9229973b-fbaa-4e25-9bc0-6659b6c66028"></div>
  <div class="uk-container">
    <h3 class="uk-heading-divider"></h3>

    <p>&copy; All Rights Reserved <a href="https://minathompson.com">Mina Thompson</a> {{ now.Format "2006" }}
    <span class="uk-align-right">
      <a class="uk-icon-button" href="" uk-icon="icon: instagram"></a>
      <a class="uk-icon-button" href="" uk-icon="icon: linkedin"></a>
      </span>
    </p>
  </div>
</footer>
