<footer>
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/ea3dc6230ced55a5ada2432c308c663e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  <div class="uk-container">
    <h3 class="uk-heading-divider"></h3>

    <p>&copy; <a href="https://minathompson.com">Mina Thompson</a> All Rights Reserved {{ now.Format "2006" }}
    <span class="uk-align-right">{{ partial "social.html" . }}</span>
    </p>
  </div>
</footer>
