<br /><a href='/'><h1 class="uk-heading-large uk-text-center">Mina Thompson</h1></a>
<h3 class="uk-text-center">Art
  <span uk-icon="heart"></span> Photography <span uk-icon="heart"></span> Food<br /></h3>

  <!-- {{ range .Site.Social }}
  <a class="nav-link" href="{{ .URL }}"><h6>{{ .Name }}</h6></a>
  {{ end }} -->

  <!-- <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-dark" data-src="images/photo.jpg" uk-img>
    <h1 class="uk-heading-large uk-text-center">Mina Thompson</h1>
    <br />
    <h3 class="uk-text-center uk-heading-divider">Art
      <span uk-icon="heart"></span> Photography <span uk-icon="heart"></span> Food<br /></h3>

  </div> -->
