<div class="uk-position-relative uk-container">
    <img src="images/light.jpg" alt="">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                  <li class='mina-nav'><a href="/">Home</a></li>
                  <li class='mina-nav'><a href="/blog">Blog</a></li>
                  <li class='mina-nav'><a href="{{ .Site.BaseURL }}#about">About Me</a></li>
                  <li class='mina-nav'><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<br />
