<section id="portfolio">
  <h3 class="uk-text-center uk-heading-divider"></h3>
  <h3>Recent Work</h3>

  <div class="uk-child-width-1-3@s uk-text-center uk-grid-small" uk-grid>
    <div>
      <a href="{{ .Site.BaseURL }}galleries/veggie">
        <div class="uk-card uk-transition-toggle" tabindex="0">
          <img data-src="{{ .Site.BaseURL }}pics/veggie/small/image01.png" width="800" height="800" alt="" uk-img>
          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <p class="uk-h4 uk-margin-remove">Vegetarian Food Photography</p>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a href="{{ .Site.BaseURL }}galleries/bujo">
        <div class="uk-card uk-card-default uk-transition-toggle" tabindex="0">
          <img data-src="{{ .Site.BaseURL }}pics/bujo/small/bujo22_800x800.jpg" width="800" height="900" alt="" uk-img>
          <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <p class="uk-h4 uk-margin-remove">Bullet Journal</p>
          </div>
      </a>
    </div>
  </div>
  <div>
    <a href="{{ .Site.BaseURL }}galleries/product">
      <div class="uk-card uk-transition-toggle" tabindex="0">
        <img data-src="{{ .Site.BaseURL }}pics/product/small/image01.png" width="800" height="800" alt="" uk-img>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <p class="uk-h4 uk-margin-remove">Product Photography</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="{{ .Site.BaseURL }}galleries/watercolor">
      <div class="uk-card uk-transition-toggle" tabindex="0">
        <img data-size="800*800" data-src="{{ .Site.BaseURL }}pics/watercolor/small/watercolor03_800x800.jpg" width="800" height="800" alt="" uk-img>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <p class="uk-h4 uk-margin-remove">Watercolor</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="{{ .Site.BaseURL }}galleries/food">
      <div class="uk-card uk-transition-toggle" tabindex="0">
        <img data-size="800*800" data-src="{{ .Site.BaseURL }}pics/food/small/pumpkin_and_pork_curry_%281_of_1%29_800x800.png" width="800" height="800" alt="" uk-img>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <p class="uk-h4 uk-margin-remove">Food Photography</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="{{ .Site.BaseURL }}galleries/calligraphy">
      <div class="uk-card uk-transition-toggle" tabindex="0">
        <img data-src="{{ .Site.BaseURL }}pics/calligraphy/small/calligraphy02_800x800.jpg" width="800" height="800" alt="" uk-img>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <p class="uk-h4 uk-margin-remove">Calligraphy</p>
        </div>
      </div>
    </a>
  </div>
  </div>

</section>
